.input-text {
  width: 100%;
  padding: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 2px solid #808080;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #000;
}

.submit-button {
  padding: 4px 12px;
  font-size: 14px;
  background-color: #c0c0c0;
  color: black;
  border: 2px solid #808080;
  box-shadow: 1px 1px 0 #fff, -1px -1px 0 #000;
  cursor: pointer;
}

.submit-button:active {
  transform: translateY(-1px);
}

.submit-button:hover {
  background-color: #45a049;
  color: white;
}